{erl_opts,           [{src_dirs, ["src/lfe"]}]}.
{lfe_first_files,    []}.
{eunit_compile_opts, [{src_dirs, ["test"]}]}.

{deps, [
    {logjam, {git, "git://github.com/lfex/logjam.git", {tag, "0.4.1"}}},
    {lhc, {git, "git://github.com/lfex/lhc.git", {tag, "0.3.1"}}}
  ]}.

{plugins, [
   {'lfe-compile', {git, "git://github.com/lfe-rebar3/compile.git", {tag, "0.4.0"}}}
  ]}.

{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
  ]}.

{post_hooks, [{clean,   "lein clean"},
              {compile, "lein compile"},
              {compile, "lein uberjar"},
              {eunit,   "lein test :all"}]}.

{profiles, [
  {dev, [
    {deps, [
      {lfe, {git, "https://github.com/rvirding/lfe.git", {tag, "v1.0.2"}}}
      ]},
    {plugins, [
      {'lfe-version', {git, "https://github.com/lfe-rebar3/version.git", {tag, "0.3.2"}}},
      {'lfe-clean', {git, "https://github.com/lfe-rebar3/clean.git", {tag, "0.2.1"}}}
      ]}
    ]},
  {test, [
    {eunit_opts, [verbose]},
    {eunit_compile_opts, [
      {src_dirs, ["test", "src"]}
      ]},
    {deps, [
      {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.8.2"}}}]}
    ]},
  {docs, [
    {plugins, [
      {lodox, {git, "https://github.com/lfe-rebar3/lodox.git", {tag, "0.12.10"}}}
      ]},
    {lodox,
      [{apps,
        [{moneta,
          [{'source-uri',
            "https://github.com/lfex/moneta/blob/{version}/{filepath}#L{line}"},
           {'output-path', "docs/master/current/api"}]}]}
      ]}
    ]}
]}.
